@model Currency.ViewModels.Valute

<div class="row">
    <div class="text-danger" asp-validation-summary="All">
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top:100px">
        <form class="form-group" asp-action="ConvertResult" method="post">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Выберите валюту</h5>
                    <div class="form-group">
                        <div>Валюта -> @Model.Name</div>
                        <div>Дата -> </div>
                        <h6>@ViewBag.Message TJS</h6>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">,,</button>
                </div>
            </div>
        </form>
    </div>
</div>
