@model Currency.Models.ValCurs


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Номинал</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Valute)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <td>@item.Name</td>
                <td>@item.Nominal</td>
                <td>@item.Value</td>
            </tr>

        }

    </tbody>
</table>
