
<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="width:100%" >
        <div class="carousel-item active">
            <img src="/Images/Карусель.jpg" class="d-flex w-100">
        </div>
        <div class="carousel-item">
            <img src="/Images/карусель2.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Карусель3.jpg" class="d-block w-100">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
@*<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 mb-lg-5 mb-4">
        <p class="header">Как можно пополнить депозитный счёт?</p>
        <p class="description">Депозит можно пополнить: 
        <br> — наличными через кассу Алиф 
        <br> — через платежные терминалы, указав номер депозита 
        <br> — через банковский перевод, передав реквизиты депозита банку отправителю 
        <br> — через приложение alif mobi.</p>
    </div>
</div>
<div class="co">
    <p class="header">Куда вкладываются мои средства?</p>
    <p class="description">Вложенные вами средства мы реализуем в наши проекты (потребительское кредитование, автокредитование и др.), мы не инвестируем в табачные, алкогольные и др. бизнесы. Доход, полученный от вашего вклада делится с вами по договорённости.</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-8 mb-lg-5 mb-4">
    <p class="header">Где можно посмотреть свой доход по депозиту?</p>
    <p class="description">Вы можете следить за своими доходами в своем личном кабинете: 
    <a href="https://online.alif.tj" class="alif-link">online.alif.tj</a>.</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-8 mb-lg-5 mb-4">
    <p class="header">Как узнать реквизиты «Алиф Банка», чтобы перевести деньги?</p>
    <p class="description">Откройте депозит, и мы отправим вам реквизиты. Вы также можете скачать свои реквизиты на сайте
    <a href="https://online.alif.tj" class="alif-link">online.alif.tj</a>.</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-8 mb-lg-5 mb-4">
    <p class="header">Можно ли получить кредит, имея депозит?</p>
    <p class="description">Да вы можете получить кредит, без справки о заработной плате, а также под самые лучшие условия.</p>
</div>*@



    <img src="/Images/ДЕПОЗИТ.jpg" style="width:100%;"/>